<%- include("../partials/adminSidebar.ejs")%>
  <style>
    .table {
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      margin-bottom: 20px;
    }


    .table thead th {
      background-color: #f2f2f2;
      border-bottom: 2px solid #ddd;
      color: #333;
      font-weight: bold;
      text-align: center;
      vertical-align: middle;


    }


    .table tbody tr {
      background-color: #fff;
      border-bottom: 1px solid #ddd;
    }

    .table tbody tr:last-child {
      border-bottom: none;
    }

    .table tbody td {
      border-top: none;
      text-align: center;
      vertical-align: middle;


    }

    /* Customize the edit and delete buttons */




    /* Customize the modal */
    .modal-content {
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .modal-header {
      background-color: #f2f2f2;
      border-bottom: 2px solid #ddd;
      color: #333;
      font-weight: bold;
      text-align: center;
      vertical-align: middle;
      font-size: 18px;
      padding: 20px;
    }

    .modal-body {
      font-size: 16px;
      padding: 20px;
    }

    .modal-footer {
      border-top: none;
    }





   

    /* .card-img-top {
        height: 100%;
        object-fit: cover;
        display: block;
        margin: 0 auto;
    } */

    .prev-image-btn,
    .next-image-btn {


      transform: translateY(-50%);
      background: transparent;
      border: none;
      font-size: 12px;
      cursor: pointer;
    }

    .img-fluid {

      width: 200px;

      height: 200px;

      object-fit: cover;
    }

    .heading {
      display: flex;
      justify-content: center;
      font-size: 30px;
      height: 60px;
      width: 100%;
      margin-top: 40px;

    }

    .status {
      height: auto;

    }

    .btn-size {
      width: 100px;
      font-size: 12px;
    }

    #ellipse {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 50px;


    }
  </style>
  <section id="res">
    <div class="heading"> <i class="fas fa-images"
        style="width:max-content; margin-top: 10px; color: #0069d9;">&nbsp;Banners</i> </div>
    <div class="container">
      <div class="row">
        <div> <a href="" class="btn btn-primary " data-toggle="modal" data-target="#addProductModal">Add Banner</a>
        </div>
      </div>

      <div class="table-responsive mt-3">

        <table class="table  " id="myTable">
          <thead>
            <tr>
              <th scope="col">No</th>
              <th scope="col">Image</th>
              <th scope="col">Main Title</th>
              <th scope="col">Subtitle</th>
              <th scope="col">Description</th>
              <th scope="col">Edit</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <% banner.forEach(function(ban, index) { %>
              <tr>
                <td>
                  <%= index+1 %>
                </td>
                <td>
                  <img src="/images/<%=ban.image%>" alt="" class="img-fluid"
                    style="max-width: 100px; max-height: 50px;">
                </td>
                <td>
                  <%=ban.title%>
                </td>
                <td>
                  <%=ban.subtitle%>
                </td>
                <td>
                  <%=ban.description%>
                </td>

                <td>

                  <a href="/admin/banner/edit/<%= ban._id %>" style="font-size: 20px;">
                    <i class="fas fa-edit"></i> <!-- Assuming you are using Font Awesome -->
                  </a>
                  
                </td>

                <td>
                  <div>
                    <a onclick="active('<%= ban._id %>')" id="activeBtn_<%= ban._id %>"
                      class="btn btn-danger btn-size text-white" <% if (ban.active) { %>style="display: none;"<% } %>
                        >Deactive</a>
                    <a onclick="deactive('<%= ban._id %>')" id="deactiveBtn_<%= ban._id %>"
                      class="btn btn-success btn-size text-white" <% if (!ban.active) { %>style="display: none;"<% } %>
                        >Active</a>
                  </div>
                </td>
              </tr>

              <% }); %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addProductModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addProductModalLabel">Add Banner</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- Form for adding a new product -->
            <form id="addProductForm" method="post" action="/admin/banner/add" enctype="multipart/form-data"
              onsubmit="return validateBannerForm()">
              <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" name="title">
                <span id="titleErr" class="text-danger"></span>
              </div>
              <div class="form-group">
                <label for="subtitle">Subtitle</label>
                <input type="text" class="form-control" id="subtitle" name="subtitle">
                <span id="subtitleErr" class="text-danger"></span>
              </div>
              <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" name="description" rows="3"></textarea>
                <span id="descriptionErr" class="text-danger"></span>
              </div>
              <div class="form-group">
                <label for="image">Image</label>
                <input type="file" class="form-control" id="image" name="image" accept="image/*">
                <span id="imageErr" class="text-danger"></span>
              </div>

              <div class="form-group">
                <label for="redirect">Redirect URL:</label>
                <input type="text" id="redirect" name="redirect">
                <p id="redirectErr" class="text-danger"></p>
              </div>

              <button type="submit" class="btn btn-primary">Add Banner</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Edit Modal -->
  

  </section>


  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

  <script>
    function active(id) {
      console.log(id);

      $.ajax({
        url: "/admin/banner/enable",
        type: "PATCH",
        contentType: "application/json",
        data: JSON.stringify({ id: id }),
        success: function (data) {
          // Update the content dynamically if needed
          console.log("Request successful:", data);
          $(`#activeBtn_${id}`).hide();
          $(`#deactiveBtn_${id}`).show();
        },
        error: function (error) {
          console.log("Error:", error);
        }
      });
    };


    function deactive(id) {
      console.log(id);

      $.ajax({
        url: "/admin/banner/disable",
        type: "PATCH",
        contentType: "application/json",
        data: JSON.stringify({ id: id }),
        success: function (data) {
          console.log("Request successful:", data);
          $(`#activeBtn_${id}`).show();
          $(`#deactiveBtn_${id}`).hide();
        },
        error: function (error) {
          console.log("Error:", error);
        }
      });
    };
  </script>

  <script>
    function printError(elemId, hintMsg) {
      document.getElementById(elemId).innerText = hintMsg;
    }

    function validateBannerForm() {
      let isValid = true;
      const title = document.getElementById('title').value;

      const subtitle = document.getElementById('subtitle').value;
      const description = document.getElementById('description').value;
      const redirect = document.getElementById('redirect').value;
      const image = document.getElementById('image').value;


      if (title.trim() === '') {
        printError('titleErr', 'Please enter a banner title');
        isValid = false;
      } else {
        printError('titleErr', '');
      }

      if (subtitle.trim() === '') {
        printError('subtitleErr', 'Please enter banner subtitle');
        isValid = false;
      } else {
        printError('subtitleErr', '');
      }

      if (description.trim() === '') {
        printError('descriptionErr', 'Please enter banner description');
        isValid = false;
      } else {
        printError('descriptionErr', '');
      }
      if (image.trim() === '') {
        printError('imageErr', 'Please select an banner image');
        isValid = false;
      } else {
        printError('imageErr', '');
      }
      if (redirect.trim() === '') {
        printError('redirectErr', 'Please enter banner redirect url');
        isValid = false;
      } else {
        printError('redirectErr', '');
      }



      return isValid;
    }
    function validateBannForm() {
      let isValid = true;
      const title = document.getElementById('titl').value;

      const subtitle = document.getElementById('subtitl').value;
      const description = document.getElementById('descriptio').value;
      const redirect = document.getElementById('redirec').value;


      if (title.trim() === '') {
        printError('titleEr', 'Please enter a banner title');
        isValid = false;
      } else {
        printError('titleEr', '');
      }

      if (subtitle.trim() === '') {
        printError('subtitleEr', 'Please enter banner subtitle');
        isValid = false;
      } else {
        printError('subtitleEr', '');
      }

      if (description.trim() === '') {
        printError('descriptionEr', 'Please enter banner description');
        isValid = false;
      } else {
        printError('descriptionEr', '');
      }

      if (redirect.trim() === '') {
        printError('redirectEr', 'Please enter banner redirect url');
        isValid = false;
      } else {
        printError('redirectEr', '');
      }



      return isValid;
    }
  </script>


  <%- include("../partials/adminFooter.ejs") %>