<%- include("../partials/adminSidebar.ejs")%>

    <style>
        /* Customize the table */
        .table {
            background-color: #fff;
            border-radius: 30px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
        }

        /* Customize the table header */
        .table thead th {
            background-color: #f2f2f2;
            border-bottom: 2px solid #ddd;
            color: #333;
            font-weight: bold;
            text-align: center;
            vertical-align: middle;

        }

        /* Customize the table body */
        .table tbody tr {
            background-color: #fff;
            border-bottom: 1px solid #ddd;
        }

        .table tbody tr:last-child {
            border-bottom: none;
        }

        .table tbody td {
            border-top: none;
            text-align: center;
            vertical-align: middle;

        }

        /* Customize the edit and delete buttons */

        .heading {
            display: flex;
            justify-content: center;
            font-size: 30px;
            height: 60px;
            width: 100%;
            margin-top: 40px;

        }

        .status {}

        .btn-size {
            width: 100px;
            font-size: 12px;

        }
    </style>
    <section>
        <div class="heading"> <i class="fas fa-list-alt fa-fw"
                style="width:max-content; margin-top: 10px; color: #0069d9;"> Categories</i> </div>
        <div class="container">


            <div class="row ">
                <div> <a href="/admin/category/add" class="btn btn-primary ml-auto">Add category</a></div>
            </div>
            <!-- <div style="font-size: medium;" class="badge badge-pill badge-primary d-flex float-end mb-2 px-2">
                    Total:<%=count%> 
                 </div> -->

            <div class="table-responsive mt-3">
                <table class="table" id="myTable">
                    <thead>
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">Category Name</th>
                            <th scope="col">Description</th>
                          
                            <th scope="col">Edit</th>
                            <th scope="col">Activation</th>


                        </tr>
                    </thead>
                    <tbody>
                        <% cat.forEach(function(c, index) { %>
                            <tr>
                                <td>
                                    <%= index+1 %>
                                </td>

                                <!-- <td    class="tooltip" title="  <%= c.name %>">
                                        <%= c.name %>
                                    </td> -->
                                <td title="<%= c.name %>">

                                    <%= c.name.length> 20 ? c.name.substring(0, 20) + '...' : c.name %>
                                </td>
                                <td title="<%= c.description %>">
                                    <!-- <%= c.description %> -->
                                    <%= c.description.length> 30 ? c.description.substring(0, 30) + '...' :
                                        c.description %>
                                </td>
                           
                                <td>
                                    <!-- Edit button for each brand -->
                                    <a href="/admin/category/edit/<%= c._id %>" style="font-size: 20px;"> <i
                                            class="fas fa-edit"></i></a>
                                </td>

                                <td>

                                    <div class="status">

                                        <a onclick="active('<%= c._id %>')" id="activeBtn_<%= c._id %>"
                                            class="btn btn-danger btn-size text-white" <% if (c.active) {
                                            %>style="display: none;"<% } %>>Deactive</a>


                                        <a onclick="deactive('<%= c._id %>')" id="deactiveBtn_<%= c._id %>"
                                            class="btn btn-success btn-size text-white" <% if (!c.active) {
                                            %>style="display: none;"<% } %>>Active</a>
                                    </div>
                                </td>


                            </tr>
                            <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <!-- Include jQuery -->
    <%- include("../partials/adminFooter.ejs") %>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


    <script>
        //    let table = new DataTable('#myTable', {
        //     responsive: true,
        //     searching: true,
        //     paging: false,
        //     info: false,
        //     columnDefs: [
        //         {
        //             targets: [0, 1, 2, 3, 4, 5],
        //             className: 'text-center'
        //         }
        //     ]
        // });


        function active(id) {
            console.log(id);

            $.ajax({
                url: "/admin/category/active",
                type: "PATCH",
                contentType: "application/json",
                data: JSON.stringify({ id: id }),
                success: function (data) {
                    // Update the content dynamically if needed
                    console.log("Request successful:", data);




                    $(`#activeBtn_${id}`).hide();
                    $(`#deactiveBtn_${id}`).show();
                },
                error: function (error) {
                    console.log("Error:", error);
                }
            });
        };


        function deactive(id) {
            console.log(id);

            $.ajax({
                url: "/admin/category/deactive",
                type: "PATCH",
                contentType: "application/json",
                data: JSON.stringify({ id: id }),
                success: function (data) {

                    console.log("Request successful:", data);





                    $(`#activeBtn_${id}`).show();
                    $(`#deactiveBtn_${id}`).hide();
                },
                error: function (error) {
                    console.log("Error:", error);
                }
            });
        };
    </script>

   
   