<%- include("../partials/adminSidebar.ejs")%>
        <style>
            /* Customize the table */
            .table {
                background-color: #fff;
                border-radius: 5px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                margin-bottom: 20px;
            }

            /* Customize the table header */
            .table thead th {
                background-color: #f2f2f2;
                border-bottom: 2px solid #ddd;
                color: #333;
                font-weight: bold;
                text-align: center;
                vertical-align: middle;
                font-size: 18px;
                padding: 20px;
            }

            /* Customize the table body */
            .table tbody tr {
                background-color: #fff;
                border-bottom: 1px solid #ddd;
            }

            .table tbody tr:last-child {
                border-bottom: none;
            }

            .table tbody td {
                border-top: none;
                text-align: center;
                vertical-align: middle;
                font-size: 16px;
                padding: 20px;
            }

           

           

            /* Customize the modal */
            .modal-content {
                background-color: #fff;
                border-radius: 5px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            }

            .modal-header {
                background-color: #f2f2f2;
                border-bottom: 2px solid #ddd;
                color: #333;
                font-weight: bold;
                text-align: center;
                vertical-align: middle;
                font-size: 18px;
                padding: 20px;
            }

            .modal-body {
                font-size: 16px;
                padding: 20px;
            }

            .modal-footer {
                border-top: none;
            }

           

            /* Customize the pagination */
            .pagination {
                display: flex;
                justify-content: center;
                margin-top: 20px;
            }

            .pagination.page-item {
                margin: 0 5px;
            }

            .pagination.page-link {
                background-color: #f2f2f2;
                border-radius: 5px;
                color: #333;
                font-size: 16px;
                padding: 5px 10px;
            }

            .pagination.page-link:hover {
                background-color: #ddd;
            }

            .pagination.page-item.active.page-link {
                background-color: #007bff;
                border-color: #007bff;
                color: #fff;
            }

            .heading {
                display: flex;
                justify-content: center;
                font-size: 30px;
                height: 60px;
                width: 100%;
                margin-top: 40px;

            }
        </style>
        <section>
            <div class="heading"> <i class="fas fa-users fa-fw"
                    style="width:max-content; margin-top: 10px; color: #0069d9;"> Orders</i> </div>
            <div class="container">

                <div id="mytable" class="table-responsive mt-3">

                    <table class="table   ">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Product name</th>
                                <th>Product ID</th>
                                <th>Category</th>
                             
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Status</th>
                                <th>Update Status</th>



                            </tr>
                        </thead>
                        <tbody>
                            <% orders.forEach(order => { %>
                                <% order.items.forEach(item => { %>
                                <tr>

                                    <td><img height="100" width="100" src="/images/<%= item.image %>" alt=""></td>
                                    <td><%= item.productName %></td>
                                    <td><%= item.productId %></td>
                                    <td><%= item.category %></td>
                              
                                    <td><%= item.quantity %></td>
                                    <td >₹ <%= item.price %></td>
                                    <td ><%= item.orderStatus %></td>

                                    <% if (item.orderStatus === "Processed") { %>
                                        <td>
                                          <div class="d-flex">
                                            <form class="mx-2" action="/admin/order/status?orderId=<%= item._id %>&approve=true" method="post">
                                              <button type="submit" class="btn btn-success border-dark">Approve</button>
                                            </form>
                                            <form action="/admin/order/status?orderId=<%= item._id %>&deny=<%= item._id %>" method="post">
                                              <button type="submit" class="btn btn-danger border-dark">Deny</button>
                                            </form>
                                          </div>
                                        </td>
                                        <% } else if (item.orderStatus === "Cancelled") { %>
                                        <td>
                                          <button type="submit" disabled class="btn btn-secondary border-dark">Cancelled</button>
                                        </td>
                                        <% } else if (item.orderStatus === "Approved") { %>
                                        <td>
                                          <form class="mx-2" action="/admin/order/status?orderId=<%= item._id %>&shipped=true" method="post">
                                            <button type="submit" class="btn btn-warning border-dark">to Shipp</button>
                                          </form>
                                        </td>
                                        <% } else if (item.orderStatus === "Shipped") { %>
                                        <td>
                                          <form class="mx-2" action="/admin/order/status?orderId=<%= item._id %>&itemId=<%= item.productId %>&delivered=true" method="post">
                                            <button type="submit" class="btn btn-info border-dark">to Deliver</button>
                                          </form>
                                        </td>
                                        <% } else if (item.orderStatus === "Delivered") { %>
                                        <td>
                                          <form class="mx-2" action="/admin/order/status?id=<%= item._id %>" method="post">
                                            <button type="submit" disabled class="btn btn-secondary border-dark">Delivered</button>
                                          </form>
                                        </td>
                                        <% } %>


                                </tr>

                                <% }); %>
                                <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <script>
            $(document).ready( function () {
              $('#mytable').DataTable();
            });
            
           
          </script>
       
        <%- include("../partials/adminFooter.ejs") %>