<%- include("../partials/adminSidebar.ejs")%>
        <style>
            /* Customize the table */
            .table {
                background-color: #fff;
                border-radius: 5px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                margin-bottom: 20px;
            }

            /* Customize the table header */
            .table thead th {
                background-color: #f2f2f2;
                border-bottom: 2px solid #ddd;
                color: #333;
                font-weight: bold;
                text-align: center;
                vertical-align: middle;
               
               
            }

            /* Customize the table body */
            .table tbody tr {
                background-color: #fff;
                border-bottom: 1px solid #ddd;
            }

            .table tbody tr:last-child {
                border-bottom: none;
            }

            .table tbody td {
                border-top: none;
                text-align: center;
                vertical-align: middle;
             
              
            }

          

            /* Customize the modal */
            .modal-content {
                background-color: #fff;
                border-radius: 5px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            }

            .modal-header {
                background-color: #f2f2f2;
                border-bottom: 2px solid #ddd;
                color: #333;
                font-weight: bold;
                text-align: center;
                vertical-align: middle;
                font-size: 18px;
                padding: 20px;
            }

            .modal-body {
                font-size: 16px;
                padding: 20px;
            }

            .modal-footer {
                border-top: none;
            }

          

            /* Customize the pagination */
            .pagination {
                display: flex;
                justify-content: center;
                margin-top: 20px;
            }

            .pagination.page-item {
                margin: 0 5px;
            }

            .pagination.page-link {
                background-color: #f2f2f2;
                border-radius: 5px;
                color: #333;
                font-size: 16px;
                padding: 5px 10px;
            }

            .pagination.page-link:hover {
                background-color: #ddd;
            }

            .pagination.page-item.active.page-link {
                background-color: #007bff;
                border-color: #007bff;
                color: #fff;
            }

            .heading {
                display: flex;
                justify-content: center;
                font-size: 30px;
                height: 60px;
                width: 100%;
                margin-top: 40px;

            }
        </style>
        <section>
            <div class="heading"> <i class="fas fa-users fa-fw"
                    style="width:max-content; margin-top: 10px; color: #0069d9;"> Orders</i> </div>
            <div class="container">

                <div class="table-responsive mt-3">

                    <table class="table   ">
                        <thead>
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">Customer</th>
                                <th scope="col">OrderId</th>
                                <th scope="col">Date</th>
                                <th scope="col">address</th>
                                <th scope="col">phone</th>
                             

                                <th scope="col">total bill</th>
                                <th scope="col">payment method</th>
                                <th scope="col">Status</th>



                            </tr>
                        </thead>
                        <tbody>
                            <% orders.forEach(function(ord, index) { %>
                                <tr>

                                    <td>
                                        <%= index+1 %>
                                    </td>
                                    <td>
                                        <%= ord.address.name %>
                                    </td>
                                    <td>
                                        <%= ord._id %>
                                    </td>
                                    <% let date = new Date(ord.orderDate).toLocaleDateString() %>
                                    <td>
                                        <%= date %>
                                    </td>
                                    <td>
                                        <%= ord.address.address %>,<%= ord.address.locality %>,<%= ord.address.district %>,<%= ord.address.state %>-<%= ord.address.pincode %>
                                    </td>
                                    <td>
                                        <%= ord.address.phone %>
                                    </td>
                                 
                                    <td>
                                        <%= ord.orderBill %>
                                    </td>
                                    <td>
                                        <%= ord.paymentMode %>
                                    </td>
                                    <td><a href="/admin/order/status?id=<%= ord._id %>"><button type="submit" class="btn btn-success">View Products</button></a></td>
                                </tr>

                                <% }); %> 
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
       
        <%- include("../partials/adminFooter.ejs") %>