<%- include("../partials/userHead2.ejs")%>
    <!--Main Navigation-->
    <style>
        .icon-hover:hover {
            border-color: #3b71ca !important;
            background-color: white !important;
        }

        .icon-hover:hover i {
            color: #3b71ca !important;
        }

        .product-link {
            color: black;
            /* Default text color */
            text-decoration: none;
        }

        .product-link:hover {
            color: blue;
            /* Text color on hover */
            /* Additional styles if needed */
        }
    </style>
    <div class="bg-primary mb-4">
        <div class="container py-4">
            <h3 class="text-white mt-2">
                <%=category.name%>
            </h3>
            <!-- Breadcrumb -->
            <nav class="d-flex mb-2">

            </nav>
            <!-- Breadcrumb -->
        </div>
    </div>

    <!-- sidebar + content -->
    <section class="">
        <div class="container">
            <div class="row">
                <!-- sidebar -->
                <div class="col-lg-3">
                    <!-- Toggle button -->
                    <button class="btn btn-outline-secondary mb-3 w-100 d-lg-none" type="button"
                        data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span>Show filter</span>
                    </button>
                    <!-- Collapsible wrapper -->
                    <div class="collapse card d-lg-block mb-5" id="navbarSupportedContent">
                        <div class="accordion" id="accordionPanelsStayOpenExample">
                            <!-- <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button text-dark bg-light" type="button"
                                        data-mdb-toggle="collapse" data-mdb-target="#panelsStayOpen-collapseOne"
                                        aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                        Related items
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                                    aria-labelledby="headingOne">
                                    <div class="accordion-body">
                                        <ul class="list-unstyled">
                                            <li><a href="#" class="text-dark">Electronics </a></li>
                                            <li><a href="#" class="text-dark">Home items </a></li>
                                            <li><a href="#" class="text-dark">Books, Magazines </a></li>
                                            <li><a href="#" class="text-dark">Men's clothing </a></li>
                                            <li><a href="#" class="text-dark">Interiors items </a></li>
                                            <li><a href="#" class="text-dark">Underwears </a></li>
                                            <li><a href="#" class="text-dark">Shoes for men </a></li>
                                            <li><a href="#" class="text-dark">Accessories </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div> -->
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button text-dark bg-primary text-white" type="button"
                                        data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
                                        aria-controls="collapseExample">
                                        Brands
                                    </button>

                                </h2>


                                <div class="collapse" id="collapseExample" aria-labelledby="headingTwo">
                                    <% activeBrands.forEach(function(brand, index) { %>
                                        <div class="accordion-body">
                                            <div>

                                                <div class="form-check">
                                                    <input class="form-check-input brand-checkbox" type="checkbox"
                                                        value="<%= brand.name %>"
                                                        id="<%= 'flexCheckChecked' + index %>" />
                                                    <label class="form-check-label"
                                                        for="<%= 'flexCheckChecked' + index %>">
                                                        <%= brand.name %>
                                                    </label>
                                                    <span class="badge badge-secondary float-end"></span>
                                                </div>



                                            </div>
                                        </div>
                                        <% }); %>
                                </div>

                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button text-dark bg-primary text-white" type="button"
                                        data-mdb-toggle="collapse" data-mdb-target="#panelsStayOpen-collapseThree"
                                        aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                                        Price
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show"
                                    aria-labelledby="headingTwo">
                                    <div class="accordion-body">
                                        <div>
                                            <!-- Checked checkbox -->
                                            <!-- <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="0-10000"
                                                    id="priceRange1" />
                                                <label class="form-check-label" for="flexCheckChecked1">
                                                    All</label>
                                            </div> -->
                                            <!-- Checked checkbox -->
                                        </div>
                                    </div>

                                </div>

                                <div id="panelsStayOpen-collapseThree"
                                    class=" bg-light accordion-collapse collapse show" aria-labelledby="headingThree">
                                    <form>
                                        <div class="accordion-body">
                                            <!-- <div class="range">
                                                <input type="range" class="form-range" id="customRange1" />
                                            </div> -->
                                            <div class="row mb-3">
                                                <div class="col-6">
                                                    <p class="mb-0">
                                                        Min
                                                    </p>
                                                    <div class="form-outline">
                                                        <input type="number" id="minPrice" name="minPrice" min="1000"
                                                            class="form-control" />
                                                        <label class="form-label" for="typeNumber"></label>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <p class="mb-0">
                                                        Max
                                                    </p>
                                                    <div class="form-outline">
                                                        <input type="number" id="maxPrice" name="max-price" min="1000"
                                                            class="form-control" />
                                                        <label class="form-label" for="typeNumber"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="button" onclick="applyFilter()" class="btn btn-primary w-100 "
                                                id="filterButton">Apply</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button text-dark bg-light" type="button"
                                        data-mdb-toggle="collapse" data-mdb-target="#panelsStayOpen-collapseFour"
                                        aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                                        Size
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse show"
                                    aria-labelledby="headingThree">
                                    <div class="accordion-body">
                                        <input type="checkbox" class="btn-check border justify-content-center"
                                            id="btn-check1" checked autocomplete="off" />
                                        <label class="btn btn-white mb-1 px-1" style="width: 60px;"
                                            for="btn-check1">XS</label>
                                        <input type="checkbox" class="btn-check border justify-content-center"
                                            id="btn-check2" checked autocomplete="off" />
                                        <label class="btn btn-white mb-1 px-1" style="width: 60px;"
                                            for="btn-check2">SM</label>
                                        <input type="checkbox" class="btn-check border justify-content-center"
                                            id="btn-check3" checked autocomplete="off" />
                                        <label class="btn btn-white mb-1 px-1" style="width: 60px;"
                                            for="btn-check3">LG</label>
                                        <input type="checkbox" class="btn-check border justify-content-center"
                                            id="btn-check4" checked autocomplete="off" />
                                        <label class="btn btn-white mb-1 px-1" style="width: 60px;"
                                            for="btn-check4">XXL</label>
                                    </div>
                                </div>
                            </div> -->
                            <!-- <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button text-dark bg-light" type="button"
                                        data-mdb-toggle="collapse" data-mdb-target="#panelsStayOpen-collapseFive"
                                        aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                                        Ratings
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse show"
                                    aria-labelledby="headingThree">
                                    <div class="accordion-body">
                                      
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value=""
                                                id="flexCheckDefault" checked />
                                            <label class="form-check-label" for="flexCheckDefault">
                                                <i class="fas fa-star text-warning"></i><i
                                                    class="fas fa-star text-warning"></i><i
                                                    class="fas fa-star text-warning"></i><i
                                                    class="fas fa-star text-warning"></i>
                                                <i class="fas fa-star text-secondary"></i>
                                            </label>
                                        </div>


                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
                <!-- sidebar -->
                <!-- content -->
                <div class="col-lg-9">
                    <header class="d-sm-flex align-items-center border-bottom mb-4 pb-3">
                        <strong class="d-block py-2"><%=productCount%> Items found </strong>
                        <div class="ms-auto">
                            <select id="sortSelect" class="form-select d-inline-block w-auto border pt-1">
                                <option value="0">Price High to Low</option>
                                <option value="1">Price Low To High</option>
                              
                            </select>
                            <!-- <div class="btn-group shadow-0 border">
                                <a href="#" class="btn btn-light" title="List view">
                                    <i class="fa fa-bars fa-lg"></i>
                                </a>
                                <a href="#" class="btn btn-light active" title="Grid view">
                                    <i class="fa fa-th fa-lg"></i>
                                </a>
                            </div> -->
                        </div>
                    </header>
                    <div id="productContainer">

                        <% products.forEach(function(product, index) { %>

                            <div class="row justify-content-center mb-3">
                                <div class="col-md-12">
                                    <div class="card shadow-0 border rounded-3">
                                        <div class="card-body">
                                            <div class="row g-0">
                                                <div class="col-xl-3 col-md-4 d-flex justify-content-center">
                                                    <div
                                                        class="bg-image hover-zoom ripple rounded ripple-surface me-md-3 mb-3 mb-md-0">
                                                        <img src="/images/<%= product.image[0] %>" class="w-100" />
                                                        <a href="#!">
                                                            <div class="hover-overlay">
                                                                <div class="mask"
                                                                    style="background-color: rgba(253, 253, 253, 0.15);">
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-md-5 col-sm-7">
                                                    <a href="/products/view/<%= product._id %>" class="product-link">
                                                        <h5 class="card-title product-title">
                                                            <%= product.name %>
                                                        </h5>
                                                    </a>
                                                    <div class="d-flex flex-row">
                                                        <div class="text-warning mb-1 me-2">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fas fa-star-half-alt"></i>
                                                            <span class="ms-1">
                                                                4.5
                                                            </span>
                                                        </div>
                                                        <!-- <span class="text-muted">154 orders</span> -->
                                                    </div>

                                                    <p class="text mb-4 mb-md-0" title="   <%= product.details %>">
                                                        <%= product.details.slice(0,200) %>
                                                    </p>
                                                </div>
                                                <div class="col-xl-3 col-md-3 col-sm-5">
                                                    <div class="d-flex flex-row align-items-center mb-1">
                                                        <h4 class="mb-1 me-1"> ₹<%= (product.price - (product.price *
                                                                product.discount / 100)).toFixed(2) %>
                                                        </h4>
                                                        <span class="text-danger"><s>
                                                                <% if (product.discount !==0) { %>
                                                                    ₹<%=product.price%>
                                                                        <% } %>
                                                            </s></span>&nbsp;
                                                        <span><small>
                                                                <% if (product.discount !==0) { %>
                                                                    <%= product.discount %>% off
                                                                        <% } %>
                                                            </small></span>
                                                    </div>
                                                    <h6 class="text-success">Free shipping</h6>
                                                    <div class="mt-4">
                                                        <% if (product.stock < 1) { %>
                                                            <span aria-disabled="true">out of stock</span>
                                                            <% } else if (product.inCart) { %>
                                                                <a href="/cart" class="btn btn-primary">Go to Cart</a>
                                                                <a href="#!"
                                                                    class="btn btn-light border px-2 pt-2 icon-hover"
                                                                    onclick="addToWishlist('<%= product._id %>')"><i
                                                                        class="fas fa-heart fa-lg px-1"></i></a>
                                                                <% } else { %>
                                                                    <button class="btn btn-primary shadow-0"
                                                                        onclick="addCart(`<%= product._id %>`)"
                                                                        type="button">Add to cart
                                                                    </button>
                                                                    <a href="#!"
                                                                        class="btn btn-light border px-2 pt-2 icon-hover"
                                                                        onclick="addToWishlist('<%= product._id %>')"><i
                                                                            class="fas fa-heart fa-lg px-1"></i></a>
                                                                    <% } %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <input id="catId" type="hidden" value="<%=product.category._id%>">
                            </div>
                            <% }); %>
                    </div>


                    <hr />

                    <!-- Pagination -->
                    <!-- <nav aria-label="Page navigation example" class="d-flex justify-content-center mt-3">
                        <ul class="pagination">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav> -->
                    <!-- Pagination -->
                </div>
            </div>
        </div>
        <input type="hidden" name="categoryId" id="categoryId" value="<%= category._id %>">
    </section>
    <p>hello</p>


    <script>
        function applyFilter() {
            // Get the input 
            var sortOrder = document.getElementById('sortSelect').value;
            var minPrice = document.getElementById('minPrice').value;
            var maxPrice = document.getElementById('maxPrice').value;
            var catgoryId = document.getElementById('categoryId').value;
            var selectedBrands = Array.from(document.querySelectorAll('.brand-checkbox:checked'))
                .map(checkbox => checkbox.value);
           
            // Convert the brand names to a comma-separated string
            // var brandsQueryParam = selectedBrands.join(',');

            fetch(`/products/filter?minPrice=${minPrice}&maxPrice=${maxPrice}&categoryId=${catgoryId}&brand=${selectedBrands}&sortOrder=${sortOrder}`, {
                method: 'GET',
            })
                .then(response => response.json())
                .then(data => {
                    if (data.filteredProducts) {
                        const filteredProducts = data.filteredProducts || [];
                        console.log("filtered prod=", filteredProducts)
                        // Update the UI with the filtered products
                        displayFilteredProducts(filteredProducts);
                    }
                    else if (data.invalidQuantity) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Invalid Price',
                            text: 'Please enter a valid Price Range.',
                        });
                    }



                })
                .catch(error => console.error('Error:', error));
        }

        function displayFilteredProducts(filteredProducts) {
            const productContainer = document.getElementById('productContainer');
            productContainer.innerHTML = ''; // Clear existing content

            // const prod = Object.values(filteredProducts);

            // Create a new product card
            filteredProducts.forEach(product => {
                const productHtml =

                    `<div class="row justify-content-center mb-3">
                <div class="col-md-12">
                  
                    <div class="card shadow-0 border rounded-3">
                        <div class="card-body">
                            <div class="row g-0">
                                <div class="col-xl-3 col-md-4 d-flex justify-content-center">
                                    <div class="bg-image hover-zoom ripple rounded ripple-surface me-md-3 mb-3 mb-md-0">
                                        <img src="/images/${product.image[0]}" class="w-100" />
                                        <a href="#!">
                                            <div class="hover-overlay">
                                                <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-md-5 col-sm-7">
                                    <a href="/products/view/${product._id}" class="product-link">
                                        <h5 class="card-title product-title">${product.name}</h5>
                                    </a>
                                    <div class="d-flex flex-row">
                                        <div class="text-warning mb-1 me-2">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fas fa-star-half-alt"></i>
                                            <span class="ms-1">4.5</span>
                                        </div>
                                    </div>
                                    <p class="text mb-4 mb-md-0" title="${product.details}">${product.details.slice(0, 200)}</p>
                                </div>
                                <div class="col-xl-3 col-md-3 col-sm-5">
                                    <div class="d-flex flex-row align-items-center mb-1">
                                        <h4 class="mb-1 me-1"> ₹${(product.price - (product.price * product.discount / 100)).toFixed(2)}</h4>
                                        <span class="text-danger"><s>${product.discount !== 0 ? `₹${product.price}` : ''}</s></span>&nbsp;
                                        <span><small>${product.discount !== 0 ? `${product.discount}% off` : ''}</small></span>
                                    </div>
                                    <h6 class="text-success">Free shipping</h6>
                                    <div class="mt-4">
                                        ${product.stock < 1 ? '<span aria-disabled="true">out of stock</span>' :
                        product.inCart ? `
                                                <a href="/cart" class="btn btn-primary">Go to Cart</a>
                                                <a href="#!" class="btn btn-light border px-2 pt-2 icon-hover" onclick="addToWishlist('${product._id}')">
                                                    <i class="fas fa-heart fa-lg px-1"></i>
                                                </a>` :
                            `<button class="btn btn-primary shadow-0" onclick="addCart('${product._id}')" type="button">Add to cart</button>
                                                <a href="#!" class="btn btn-light border px-2 pt-2 icon-hover" onclick="addToWishlist('${product._id}')">
                                                    <i class="fas fa-heart fa-lg px-1"></i>
                                                </a>`}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input id="catId" type="hidden" value="${product.category._id}">
            `;

                // Append the new product card to the container
                console.log(productHtml, 'product heml')
                productContainer.innerHTML += productHtml;

            });

        }




    </script>

    <script>function addCart(id) {

            fetch(`/addtocart/${id}`, {
                method: 'PATCH',
            }).then(() => {
                window.location.assign('/cart')
            }).catch((error) => {
                console.error('Error deleting product:', error);

            });
        }</script>
 
    <script>
        function addToWishlist(id) {
            console.log('amal');
            fetch(`/add-wishlist/${id}`, {
                method: 'PATCH',
            })
                .then((response) => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        throw new Error('Failed to add product to wishlist');
                    }
                })
                .then((data) => {
                    if (data.exist) {
                        Swal.fire({
                            title: 'Product Already in Wishlist',
                            icon: 'info',
                        });
                    } else if (data.success) {
                        Swal.fire({
                            title: 'Product Added to Wishlist',
                            icon: 'success',
                        }).then(() => {
                            window.location.assign('/wishlist');
                        });
                    }
                })
                .catch((error) => {
                    console.error('Error adding product to wishlist:', error);
                    // Handle other errors or show a general error message
                    swal('Error', 'Failed to add product to wishlist', 'error');
                });
        }
    </script>