<%- include("../partials/userHeader.ejs")%>

    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            integrity="sha384-ZzFk/AtbL7ud16iTC5YFDbiJZlFT8i8E4Jmd0OiQOhFOc4Caa8TXOgJT5ckfu7bR" crossorigin="anonymous">
    </head>
    <div class="container-fluid ">
        <div class="row justify-content-center">
            <div class="col-xl-12">
                <div class="card shadow-lg">
                    <div class="row p-2 mt-3 justify-content-between mx-sm-2">
                        <!-- Other content within this row -->
                    </div>

                    <!-- Shipping Details Section -->
                    <div class="row justify-content-around">
                        <div class="col-md-5">
                            <div class="card border-0">
                                <div class="card-header pb-0">
                                    <h2 class="card-title space">Checkout</h2>
                                    <p class="card-text text-muted mt-4 space">SHIPPING DETAILS</p>
                                    <hr class="my-0">
                                    <div>
                                        <p class="card-text text-muted mt-4 mb-2 space">SELECT DELIVERY ADDRESS</p>
                                    </div>
                                    <form action="/checkout" method="post" id="checkout-form">

                                        <!-- Dummy content for addresses -->
                                        <% userData.address.forEach(function(item ,index) { %>

                                            <div class="form-check mt-3">
                                                <input type="radio" class="form-check-input js-radioInput"
                                                    id="radio<%= index %>" name="selectedAddressIndex"
                                                    value="<%= index %>" required>

                                                <p class="display-address">
                                                    <%= item.name %><span class="mx-3"><a
                                                                href="/profile?edit=address1&checkout=true"
                                                                style="text-decoration: none"> <i
                                                                    class="fas fa-edit"></i> </a></span>
                                                </p>
                                                <p class="display-address">
                                                    <%= item.address %>,<%= item.locality %>
                                                </p>
                                                <p class="display-address">
                                                    <%= item.district %>,<%= item.state %>
                                                </p>
                                                <p class="display-address">
                                                    <%= item.phone %>
                                                </p>
                                                <p class="display-address">
                                                    <%= item.state %>-<%= item.pincode %>
                                                </p>
                                                <label class="form-check-label" for="radio1"></label>
                                            </div>
                                            <% }); %>
                                                <!-- Dummy content for adding a new address -->
                                                <a href="/profile?add=true&checkout=true"
                                                    style="text-decoration: none; color: green;">
                                                    <p>Add a new address</p>
                                                </a>

                                </div>
                            </div>
                        </div>



                        <!-- Order Summary Section -->
                        <div class="col-md-5 mt-4">
                            <div class="card border-0">
                                <div class="card-header card-2">

                                    <hr class="my-2">
                                </div>
                                <div class="card-body mt-3">







                                    <div class="row mb-5 mt-4">
                                        <div class="col-md-7 col-lg-6"> <button id="my_button" type="submit"
                                                disabled="disabled" value="submit" name="submit"
                                                class="btn btn-block btn-lg border-dark"
                                                style="width: 100%; border-radius:30px;">Proceed to
                                                Payment</button>

                                        </div>
                                    </div>
                                    </form>
                                    <button type="button" class="btn btn-light border" data-toggle="modal"
                                        data-target="#couponModal">
                                        View Available Coupons <span class="fas fa-tags "></span>
                                    </button>

                                    <!-- Modal for displaying available coupons -->
                                    <div class="modal fade" id="couponModal" tabindex="-1" role="dialog"
                                        aria-labelledby="couponModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="couponModalLabel">Available Coupons</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <!-- Place your coupon list content here -->
                                                    <% coupons.forEach(function(item ,index) { %>
                                                        <ul>

                                                            <!-- <li>
                                                                <div>
                                                                    <%=index+1%>&nbsp;:&nbsp;<%=item.couponName%>
                                                                </div>
                                                                You can get this coupon on purchase amount between
                                                                <%=item.minBill%> to <%=item.maxAmount%>
                                                                        <div>Code&nbsp;:&nbsp;<%=item.code%>
                                                                        </div>
                                                            </li> -->
                                                            <li class="font-weight-bold">
                                                                <div>
                                                                    <%=item.couponName%>
                                                                </div>
                                                                <div>You will get <%=item.value%>% discount on this
                                                                        purchase</div>
                                                                <p>Code&nbsp;:&nbsp;<%=item.code%>
                                                                </p>
                                                            </li>
                                                            <!-- Add more coupons as needed -->
                                                        </ul>
                                                        <% }); %>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="couponBox">
                                        <div class="card mb-3 border shadow-0">
                                            <div class="card-body">

                                                <div class="form-group">
                                                    <label class="form-label">Have coupon?</label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control border"
                                                            id="form3Examplea2" name="couponCode"
                                                            placeholder="Coupon code" />
                                                        <button class="btn btn-light border bg-success text-white"
                                                            onclick="applyCoupon()">Apply</button>



                                                    </div>

                                                </div>

                                            </div>

                                        </div>
                                        <% if(userData.coupon.code) { %>
                                            <div class="mt-3 p-3 border rounded" id="removeBox"
                                                style="background-color: #ffeeba;">
                                                <div class="d-flex justify-content-center">


                                                    <span id="appliedCouponText" class="font-weight-bold">You have
                                                        applied one coupon with <%= userData.coupon ?
                                                            userData.coupon.discount : 'None' %>%&nbsp;discount</span>
                                                </div>
                                                <!-- <span> Coupon Code:<%= userData.coupon ? userData.coupon.code
                                                                : 'None' %></span> -->
                                                <div class="d-flex justify-content-center mt-2">
                                                    <button class="btn btn-light border bg-warning"
                                                        id="removeCouponButton">Remove
                                                    </button>


                                                </div>
                                            </div>
                                            <% }; %>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Dummy footer content -->


    <script>
        // Dummy script as EJS syntax is removed
        const inputElems = document.getElementsByClassName("js-radioInput");
        const myButton = document.getElementById("my_button");

        for (let i = 0; i < inputElems.length; i++) {
            const elem = inputElems[i];
            elem.addEventListener("change", function () {
                let isDisabled = true;
                for (let j = 0; j < inputElems.length; j++) {
                    if (inputElems[j].checked) {
                        isDisabled = false;
                        break;
                    }
                }
                myButton.disabled = isDisabled;
            });
        }
    </script>
    <!-- Include SweetAlert library -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <script>
        $("#checkout-form").submit((e) => {
            e.preventDefault();
            $.ajax({
                url: '/checkout',
                method: 'post',
                data: $('#checkout-form').serialize(),
                success: (response) => {
                    if (response.flag) {
                        // Display SweetAlert
                        Swal.fire({
                            icon: 'warning',
                            title: 'Quantity Exceeds Stock',
                            text: 'The quantity you selected exceeds the available stock.',
                            confirmButtonText: 'OK',
                        }).then(() => {
                            // Redirect to another URL
                            window.location.href = '/home';
                        });
                    }
                    else if (response.couponCodeFailure) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Coupon Missing or Invalid!',
                            text: 'Please remove the current coupon enter a valid coupon code to proceed.',
                        });
                    }
                    else if (response.success) { location.replace('/checkout/payment') }
                }
            });
        });
    </script>

    <script>
        function applyCoupon() {

            var couponCode = $("#form3Examplea2").val(); // Get the coupon code from the input field

            // AJAX request to send user ID and coupon code to the server
            $.ajax({
                type: "PATCH", // Use "POST" or "GET" depending on your server-side handling
                url: "/apply-coupon", // Replace with your server endpoint
                data: {

                    couponCode: couponCode
                },
                success: function (response) {
                    if (response.success) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Coupon Applied!',
                            text: `You have successfully applied the coupon.`,
                        }).then(() => {
                            location.reload();
                        });
                    } else if (response.used) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Coupon Already Used',
                            text: 'You have already used this coupon. Please try another one.',
                        });
                    } else if (!response.success) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Coupon Missing or Invalid!',
                            text: 'Please enter a valid coupon code to proceed.',
                        });
                    }
                },
                error: function (error) {
                    // Handle errors (if needed)
                    console.error(error);
                }
            });
        }
    </script>
    <!-- Add this script along with your existing code -->
    <script>
        $(document).ready(function () {
            // When the "Remove Coupon" button is clicked
            $("#removeCouponButton").click(function () {
                // AJAX request to remove the coupon
                $.ajax({
                    type: "PATCH",
                    url: "/remove-coupon", // Replace with your actual server endpoint
                    success: function (response) {
                        $('#couponBox').load(' #couponBox')
                        Swal.fire({
                            icon: 'success',
                            title: 'Coupon Removed!',
                            text: 'You have successfully removed the coupon.',
                        });

                    },
                    error: function (error) {
                        // Handle errors (if needed)
                        console.error(error);
                    }
                });
            });
        });


    </script>