<%- include("../partials/userHeader.ejs")%>

    <head>

        <style>
                    #foot
    {
        margin-top: 10rem;
     
    }
          
            .product-card {
                border: 1px solid #e0e0e0;
                border-radius: 5px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                transition: transform 0.2s;
            }

            .product-card:hover {
                transform: translateY(-5px);
                box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
            }

            .product-card img {
                max-width: 100%;
                max-height: 100%;
            }

            .product-title {
                font-size: 1.25rem;
                font-weight: bold;
            }

            .product-description {
                font-size: 0.9rem;
                color: #555;
            }

            .product-price {
                font-size: 1.2rem;
                font-weight: bold;
                color: #007bff;
            }

            .add-to-cart-btn {
                background-color: #007bff;
                color: #fff;
            }

            .add-to-cart-btn:hover {
                background-color: #0056b3;
            }
            .next-image-btn {
   
    
   transform: translateY(-50%);
   background: transparent;
   border: none;
   font-size: 12px;
   cursor: pointer;
   margin-top: 150px;
   
}
.prev-image-btn

{
    transform: translateY(-50%);
   background: transparent;
   border: none;
   font-size: 12px;
   cursor: pointer; 
   
  margin-top: 150px;
}

.image-container
{
    height: 300 px;
    width: 100%;
   
}
.img-fluid
{
    position: relative;
    height: 300px;
    width:300px;
}
          
        </style>
    </head>

    <body>
        <div class="container">
            <h1 class="mt-5" title=" <%=category.name%>">
              
                <%= category.name.length > 10 ? category.name.substring(0, 10) + '...' : category.name %>
            </h1>
            <div class="row mt-4 ">
                
                <% products.forEach(function(product, index) { %>
                    <div class="col-md-4 mb-4  ">

                        <div class="card product-card"  >
                            <div class="image-container d-flex justify-content-center  "  >
                                <button class="prev-image-btn"
                                onclick="showImage('<%= product._id %>', -1)"> <i
                                    class="fas fa-chevron-left"></i> </button>
                                <% product.image.forEach(function(image, i) { %>
                                    <div></div>
                                    <img src="/images/<%= image %>" alt="Product Image" class="img-fluid"
                                        style=" <%= i === 0 ? 'display: block;' : 'display: none;' %>">
                                    <% }); %>
                                       
                                           
                                            <button class="next-image-btn" onclick="showImage('<%= product._id %>', 1)">
                                                <i class="fas fa-chevron-right"></i></button>
                                        
                            </div>
                            <div class="card-body">
                                <h5 class="card-title product-title">
                                    <%= product.name%>
                                </h5>
                                <p class="card-text product-description">
                                    <%= product.details.slice(0,50) %>
                                </p>
                                <p class="card-text product-price">
                                    ₹<%=product.price%>
                                </p>
                                <p> <% if (product.discount !==0) { %>
                                    <%= product.discount %>% off
                                      <% } %></p>
                                      <% if (product.inCart) { %>
                                        <a href="/cart" class="btn btn-primary">Go to Cart</a>
                                      <% } else { %>
                                      <!-- <button class="add-to-cart-btn" productId="<%= product._id %>">Add to Cart</button> -->
                                      <button class="btn btn-primary" onclick="addCart(`<%= product._id %>`)">Add to Cart</button>
                                     
                                      <% } %>
                                <a href="/products/view/<%= product._id %>" class="btn btn-primary">View Details</a>
                            </div>
                        </div>


                    </div>
                    <% }); %>
                      
            </div>
        </div>

        <script>function addCart(id) {

            fetch(`/addtocart/${id}`, {
                method: 'PATCH',
            }).then(() => {
                window.location.assign('/cart')
            }).catch((error) => {
                console.error('Error deleting product:', error);
                // Optionally handle error and show error message to the user
            });
        }</script>

    </body>
    <%- include("../partials/userFooter.ejs")%>
    <!-- <h2 class=" p-4">
        <%=category.name%>
    </h2>
    <section style="background-color: #eee;">
        
        <div class="container py-5">
            <% products.forEach(function(product, index) { %>
            <div class="row justify-content-center mb-3">
                <div class="col-md-12 col-xl-10">
                    <div class="card shadow-0 border rounded-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                                    <div class="bg-image hover-zoom ripple rounded ripple-surface">
                                      
                                                
                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/img%20(4).webp"
                                            class="w-100" />

                                        <a href="#!">
                                            <div class="hover-overlay">
                                                <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);">
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-xl-6">
                                    <h5><%= product.name%></h5>
                                    
                                    <p class="text-truncate mb-4 mb-md-0">
                                        <%= product.details%>
                                    </p>
                                </div>
                                <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                                    <div class="d-flex flex-row align-items-center mb-1">
                                        <h4 class="mb-1 me-1"> ₹<%=product.price %></h4>
                                        <span class="text-danger"><s><% if (product.discount !== 0) { %>
                                            <%= product.discount %>% off
                                            <% } %></s></span>
                                    </div>
                                    <h6 class="text-success">Free shipping</h6>
                                    <div class="d-flex flex-column mt-4">
                                        <button class="btn btn-primary btn-sm" type="button">Details</button>
                                        <a href="/products/view/<%= product._id %>" class="btn btn-primary btn-sm">View Details</a>
                                        <button class="btn btn-outline-primary btn-sm mt-2" type="button">
                                            Add to wishlist
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% }); %>


        </div>
    </section> -->
    <script>
        const imageContainers = document.querySelectorAll(".image-container");

        imageContainers.forEach(container => {
            let currentIndex = 0;
            const images = container.querySelectorAll('img');
            images[currentIndex].style.display = 'block';

            const prevBtn = container.querySelector('.prev-image-btn');
            const nextBtn = container.querySelector('.next-image-btn');

            prevBtn.addEventListener("click", () => {
                images[currentIndex].style.display = 'none';
                currentIndex = (currentIndex - 1 + images.length) % images.length;
                images[currentIndex].style.display = 'block';
            });

            nextBtn.addEventListener("click", () => {
                images[currentIndex].style.display = 'none';
                currentIndex = (currentIndex + 1) % images.length;
                images[currentIndex].style.display = 'block';
            });
        });
    </script>